<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<script>
			function deleteajax(rid) {
				if (!confirm('您确定要倒闭吗？这个操作无法撤回'))
					return;
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
						var json = eval('(' + xmlhttp.responseText + ')');
						if (json.res) {
							alert('恭喜，倒闭成功');
							location.reload(true);
						} else {
							alert('出错了 info: ' + json.info);
						}
					}
				};
				xmlhttp.open('GET', '/restaurants/delete?rid=' + rid, true);
				xmlhttp.send();
			}
		</script>
  </head>
  <body>
    <p>Welcome to <%= title %></p> <a href='/manager/homepage'>回去</a>
		<form action='/restaurants/<%= action %>' method='GET'>
			<table>
				<tr>
					<td>餐馆名：</td><td><input type='text' name='name' value='<%= rname %>' maxlength='32' id='rname'/></td>
				</tr>
				<tr>
					<td>地址：</td><td><input type='text' name='addr' value='<%= addr %>' maxlength='32'/></td>
				</tr>
				<tr>
					<td>电话：</td><td><input type='text' name='tel' value='<%= tel %>' maxlength='16'/></td>
				</tr>
				<tr>
					<td>简介：</td><td><input type='text' name='feature' value='<%= feature %>' maxlength='128'/></td>
				</tr>
				<tr>
					<td><input type='submit' value='提交'/></td>
				</tr>
			</table>
		</form>
		<form action='/restaurants/upload' method='POST' enctype='multipart/form-data'>
			<input type='file' <%= disabled %> name='upload'/>
			<input type='submit' value='上传图片' <%= disabled %>/>
		</form>
		<% if (disabled === "") {%>
		<a href='/manager/homepage/foods/list'>饭菜中心</a></br>
		<a href='' onclick='deleteajax(<%= rid %>);return false'>餐馆倒闭</a>
		<% } %>
	</body>
</html>
