<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<script>
			function deleteajax(id) {
				if (!confirm('您确定要删除吗？'))
					return;
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
						var json = eval('(' + xmlhttp.responseText + ')');
						if (json.res) {
							alert('删除成功！');
							window.location.reload(true);
						} else if (json.info === 'self') {
							alert('请不要删除自己');
						} else {
							alert('删除失败，请联系产品经理');
						}
					}
				}
				xmlhttp.open('GET', '/users/delete?user=' + id);
				xmlhttp.send();
			}
		</script>
	</head>
	<body>
		<h1><%= title %></h1>
		<h2><a href='/manager/homepage'>返回</a></h2>
		<table>
			<tr>
				<th>id</th><th>user</th><th>type</th><th>restaurant</th><th>time</th><th>operation</th>
			</tr>
			<% for(var i = 0; i < list.length; ++i) { %>
				<tr>
					<td><%= list[i].id %></td>
					<td><%= list[i].uname %></td>
					<td><%= list[i].type %></td>
					<td><%= list[i].rname %></td>
					<td><%= list[i].time %></td>
					<td><button type='button' onclick='deleteajax(<%= list[i].id %>)'>删除</button></td>
				</tr>
			<% } %>
		</table>
		<% if (page > 0) { %>
			<p><a href='/manager/homepage/sudo/users/list<%= page - 1 %>'>上一页</a></p>
		<% } %>
		<% if (list.length > 0) { %>
			<p><a href='/manager/homepage/sudo/users/list<%= page + 1 %>'>下一页</a></p>
		<% } %>
	</body>
</html>
